#choose-driver-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 130px;
  align-items: center;
}

#accepted-trips-list {
  overflow: auto;
  max-height: 700px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#accepted-trips-table {
  background-color: rgb(220, 219, 219);
  border-radius: 5px;
}

#accepted-trips-table td {
  padding: 10px 35px;
  text-align: center;
}

#accepted-trips-text {
  text-align: center;
  margin-top: 0;
}

#accept-driver-button {
  border: none;
  color: white;
  background-color: rgb(3, 89, 81);
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
}