#account-info {
  display: flex;
  gap: 100px;
}

#user-info-text,
#vehicle-info-text {
  text-align: center;
  margin-bottom: 25px;
  font-size: 33px;
}

#user-info-list,
#vehicle-info-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#user-info-list li,
#vehicle-info-list li {
  display: flex;
  gap: 20px;
  font-size: 25px;
  justify-content: space-between;
}