#order-taxi-banner {
  padding: 80px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

#order-taxi-image {
  width: 100%;
  max-height: 750px;
  position: absolute;
  z-index: -1;
}

#texts-container {
  padding: 90px 60px 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.order-taxi-text {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

#order-taxi-btn {
  align-self: center;
  border: none;
  background-color: black;
  color: white;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}