#signup-text {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
}

#signup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

#signup-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 80px;
}

.signup-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.signup-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-label {
  display: block;
  font-weight: bold;
  font-size: 22px;
  padding-left: 4px;
}

.signup-input {
  width: calc(100% - 30px);
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 26px;
}

.signup-password-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#signup-password,
#signup-pwd {
  width: calc(100% - 95px);
}

.signup-password-toggle img {
  height: 50px;
  cursor: pointer;
}


#dob {
  width: 85%;
}

#signup-button {
  width: 80%;
  padding: 12px;
  margin: 35px 0 12px 0;
  font-size: 28px;
  background-color: #ffff00;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-self: center;
}

#signup-button:hover {
  background-color: #f6f50f;
}

#log-in-link {
  text-align: center;
  margin-top: -5px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

#log-in-link:hover {
  text-decoration: underline;
}