.vvt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: #f5f410;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 150px;
}

.vvt-logo-container {
  display: flex;
  padding: 0;
}

.vvt-logo {
  height: 140px;
}

.user-fields {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-size: 20px;
  height: 100%;
}

.user-fields * {
  align-content: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

#fields-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

#active-status {
  color: green;
}

#busy-status {
  color: red;
}

#active-status,
#busy-status {
  cursor: default;
  margin: 0;
  font-size: 25px;
  text-decoration: underline;
}

#active-status::first-letter,
#busy-status::first-letter {
  text-transform: capitalize;
}

.menu-toggle {
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  background-color: #f5f410;
  padding-top: 80px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.20), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.menu-items a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .vvt-logo-container {
    display: none;
  }

  .vvt-header {
    width: auto;
  }

  .menu-toggle {
    display: block;
  }
}

@media (max-width: 450px) {
  .vvt-logo-container {
    display: none;
  }

  .vvt-header {
    justify-content: flex-end;
    padding: 0 30px;
  }
}