.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/taxi-background.jpg');
  background-size: cover;
  opacity: 0.9;
  z-index: -1;
}