#change-password-text {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  margin-bottom: 30px;
}

#change-password-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#change-password-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.change-password-form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.change-password-label {
  display: block;
  font-weight: bold;
  font-size: 22px;
  padding-left: 4px;
}

.change-password-input {
  width: calc(100% - 20px);
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 26px;
}

.password-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#password,
#confirm-password {
  width: calc(100% - 95px);
}

.forgotten-password-toggle img {
  height: 50px;
  cursor: pointer;
}

#change-password-btn {
  width: 100%;
  padding: 12px;
  margin: 35px 0 12px 0;
  font-size: 28px;
  background-color: #ffff00;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  align-self: center;
}

#change-password-btn:hover {
  background-color: #f6f50f;
}